:root{
  --primary_color: #C9C9C9;
  --background_color: #D0DDFF;
  --button_color: #53C658;

}
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
}
h1, h2, h3, h4{
  font-family: 'Gloria Hallelujah', cursive;
}
p, input, label{
  font-family: 'Montserrat', sans-serif;

}
body{
  background-color: var(--background_color);
}

.header__header{
  padding: 10px;
  background-color: var(--primary_color);
  height: 15vh;
  width: 100%;
  position: relative;
}
.header__img{
  color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-transform: rotate(25deg);
 -moz-transform: rotate(25deg);
 -ms-transform: rotate(25deg);
 transform: rotate(25deg);
 top: 10px;
 left: 30px;
 }
 header .header__tittle{
   font-size: 100px;
   position: absolute ;
   top: -50px;
   left: 80px;

 }

 .main{
   padding: 20px;
    max-width:  1000px;
    display: block;
    margin: 0 auto;
    


 }

 .main__email{
   width: 50%;
   margin: 0 auto;
   align-items: center;

  
 }
 .input__{
   padding: 10px;
   border: none;
   border-radius: 15px;
   outline-width: 0;


 }
 .main__email__input{
   width: 100%;
   padding: 10px;
   text-align: center;
   border: none;
   border-radius: 20px;   
   outline-width: 0;
 }
 .main__data_inputs{
   width: 50%;
   padding: 30px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(2,1fr);
 }
 @media(max-width:480px){
   .main__email{
     width: 90%;
   }
   .main__data_inputs{
      
      width: 100%;
   }
   .main__data_inputs{
     width: 90%;
     display: flex;
     flex-direction: column;
   }
 }
.color{
  display: flex; 
  flex-direction: column;
}
.color_selected{
  
  width: 100%;
  margin: 0 auto;
  height:25px;
  border: 1px solid black ;
}
.send{
  margin: 0 auto;
  width: 50%;
}
.send input{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 15px;
}
